In [297]:
import numpy as np
import pandas as pd

In [298]:
from datetime import datetime

In [299]:
from plotly import graph_objects as go

### creating some cuts in data

In [300]:
all_case_data = pd.read_csv("../covid-confirmed-cases-since-100th-case.csv")

In [301]:
all_case_data['date'] = all_case_data['Date'].astype("datetime64")

In [302]:
India_case_data = all_data.query("Entity=='India'")

In [303]:
India_case_data.head()

,Entity,Code,Date,Total confirmed cases (cases),Days since the 100th total confirmed case (days),date,entity,type,Cumulative total tests
3361,India,IND,"Dec 31, 2019",0.0,NaN,2019-12-31,NaN,NaN,NaN
3362,India,IND,"Jan 1, 2020",0.0,NaN,2020-01-01,NaN,NaN,NaN
3363,India,IND,"Jan 2, 2020",0.0,NaN,2020-01-02,NaN,NaN,NaN
3364,India,IND,"Jan 3, 2020",0.0,NaN,2020-01-03,NaN,NaN,NaN
3365,India,IND,"Jan 4, 2020",0.0,NaN,2020-01-04,NaN,NaN,NaN

In [304]:
cutoff_date = np.datetime64('2020-03-01')

In [305]:
India_case_data_recent = India_case_data.loc[India_case_data['date']>=cutoff_date,:]

In [306]:
all_test_data = pd.read_csv("../full-list-total-tests-for-covid-19.csv")

In [307]:
all_test_data['date'] = all_test_data['Date'].astype("datetime64")

In [308]:
all_test_data.head()

,Entity,Code,Date,Cumulative total tests,date
0,Australia - units unclear,NaN,"Mar 22, 2020",143056,2020-03-22
1,Australia - units unclear,NaN,"Mar 29, 2020",211261,2020-03-29
2,Australia - units unclear,NaN,"Apr 2, 2020",261000,2020-04-02
3,Austria - units unclear,NaN,"Feb 25, 2020",218,2020-02-25
4,Austria - units unclear,NaN,"Feb 26, 2020",321,2020-02-26

In [309]:
India_test_data = all_test_data.query("Entity=='India - samples tested'")

In [310]:
all_test_data['type'] = all_test_data['Entity'].str.split('-', 1, expand=True)[1]
all_test_data['entity'] = all_test_data['Entity'].str.split('-', 1, expand=True)[0].map(lambda x: x[:-1])

In [311]:
India_data_recent = India_data.loc[India_data['date']>=cutoff_date,:]

In [312]:
all_test_data_samples = all_test_data.query("type == ' samples tested'")

In [313]:
all_test_data_people = all_test_data.query("type == ' people tested'")

In [314]:
all_test_data_people.query('entity=="India"')

,Entity,Code,Date,Cumulative total tests,date,type,entity
125,India - people tested,NaN,"Mar 6, 2020",3404,2020-03-06,people tested,India
126,India - people tested,NaN,"Mar 13, 2020",5900,2020-03-13,people tested,India
127,India - people tested,NaN,"Mar 18, 2020",12235,2020-03-18,people tested,India
128,India - people tested,NaN,"Mar 19, 2020",12426,2020-03-19,people tested,India
129,India - people tested,NaN,"Mar 20, 2020",13486,2020-03-20,people tested,India
130,India - people tested,NaN,"Mar 21, 2020",14811,2020-03-21,people tested,India
131,India - people tested,NaN,"Mar 22, 2020",16109,2020-03-22,people tested,India
132,India - people tested,NaN,"Mar 23, 2020",19817,2020-03-23,people tested,India
133,India - people tested,NaN,"Mar 24, 2020",19974,2020-03-24,people tested,India
134,India - people tested,NaN,"Mar 25, 2020",24254,2020-03-25,people tested,India
135,India - people tested,NaN,"Mar 27, 2020",26798,2020-03-27,people tested,India

In [315]:
all_case_data.columns

Index(['Entity', 'Code', 'Date', 'Total confirmed cases (cases)',
       'Days since the 100th total confirmed case (days)', 'date'],
      dtype='object')

In [316]:
all_test_data.columns

Index(['Entity', 'Code', 'Date', 'Cumulative total tests', 'date', 'type',
       'entity'],
      dtype='object')

### merging data

In [317]:
all_case_data.head()

,Entity,Code,Date,Total confirmed cases (cases),Days since the 100th total confirmed case (days),date
0,Afghanistan,AFG,"Dec 31, 2019",0.0,NaN,2019-12-31
1,Afghanistan,AFG,"Jan 1, 2020",0.0,NaN,2020-01-01
2,Afghanistan,AFG,"Jan 2, 2020",0.0,NaN,2020-01-02
3,Afghanistan,AFG,"Jan 3, 2020",0.0,NaN,2020-01-03
4,Afghanistan,AFG,"Jan 4, 2020",0.0,NaN,2020-01-04

In [318]:
all_test_data.type.unique()

array([' units unclear', ' tests performed', ' people tested',
       ' samples tested', ' cases tested',
       ' inconsistent units (COVID Tracking Project)',
       ' specimens tested (CDC)'], dtype=object)

In [319]:
all_data = all_case_data.merge(all_test_data_people[['entity','type','Date','Cumulative total tests']], how = 'left',left_on = ['Entity','Date'], right_on = ['entity','Date'])

In [320]:
all_data['case_per_test'] = all_data['Total confirmed cases (cases)'] / all_data['Cumulative total tests']

In [321]:
India_data = all_data.query("Entity == 'India'")

In [322]:
UK_data = all_data.query("Entity == 'United Kingdom'")
#all_data['Entity'].unique()

In [323]:
UK_data_recent = UK_data.loc[UK_data['date']>=cutoff_date]

In [324]:
India_data_recent = India_data.loc[India_data['date']>=cutoff_date]

In [325]:
UK_data['Cumulative total tests'].dropna()

7948        31.0
7949        52.0
7950        73.0
7951        97.0
7952       130.0
          ...
8012    127737.0
8013    134946.0
8014    143186.0
8015    152979.0
8016    163194.0
Name: Cumulative total tests, Length: 69, dtype: float64

all_data.to_csv('temp.csv')

### PLotting

In [326]:
UK_data_recent.head()

,Entity,Code,Date,Total confirmed cases (cases),Days since the 100th total confirmed case (days),date,entity,type,Cumulative total tests,case_per_test
7984,United Kingdom,GBR,"Mar 1, 2020",23.0,NaN,2020-03-01,United Kingdom,people tested,11750.0,0.001957
7985,United Kingdom,GBR,"Mar 2, 2020",36.0,NaN,2020-03-02,United Kingdom,people tested,13525.0,0.002662
7986,United Kingdom,GBR,"Mar 3, 2020",40.0,NaN,2020-03-03,United Kingdom,people tested,13911.0,0.002875
7987,United Kingdom,GBR,"Mar 4, 2020",51.0,NaN,2020-03-04,United Kingdom,people tested,16659.0,0.003061
7988,United Kingdom,GBR,"Mar 5, 2020",85.0,NaN,2020-03-05,United Kingdom,people tested,18083.0,0.004701

In [327]:
from plotly import graph_objects as go

In [330]:
UK_Bar = go.Bar(x = UK_data_recent['date'],
               y = UK_data_recent['case_per_test'],
               name = 'UK')

In [331]:
India_Bar = go.Bar(x = India_data_recent['date'],
               y = India_data_recent['case_per_test'],
                  name = 'India')

In [333]:
fig = go.Figure(data = [UK_Bar,
                       India_Bar],
               layout_title_text = 'Case_per_test recent')

In [ ]:
fig.show()